/* Configurações basicas */
@charset "UTF-8";

:root{
    --cor0: #525872ce;
    --cor1: #bfc0c0;
    --cor2: #777996;
    --cor3: #157A6E;

    --fonte-padrao: Arial, helvetica, sans-serif;
    --fonte-destaque: ;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: var(--fonte-padrao);
    font-weight: normal;
}

body {
    height: 1000px;
    padding-top: 7vh;
}

h1{
    text-align: center;
    font-size: 2vw;
    text-transform: uppercase;
    letter-spacing: 4px;
}

/* Menu */

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 7vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor1), var(--cor2));
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
}

/* Menu Para Celulares */
.mobile-menu{
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background-color: black;
    margin: 8px;
    transition: 0.3s;
}

@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }
    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 30vw;
        height: 46vh;
        background-color: var(--cor0);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu {
        display: block;
    }
}

.nav-list.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    } 
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

/* Barra de navegação Fixa */

.principal {
    padding: 16px;
}

.FixoNoTopo{
    position: fixed;
    top: 0;
    width: 100%;
}

.FixoNoTopo + .principal {
    padding-top: 60px;
}

/* Links de navegação */

a{
    margin: 1vh;
    margin-top: 1vh;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

a:hover{ 
    color: white;
    opacity: 0.7;
}

/* Conteúdo */

main{
    height: 100%;
    background-color: var(--cor2);
}

#conteiner{
    /* text-align: center; */
    margin: 0px;
    padding: 0px;
}

.sobre{
    background-color: white;
}

.cursos{
    background-color: blue;
}

.foto{ 
    background-color: pink;
} 

/* Rodapé */

footer{
    background-color: var(--cor2);
    padding: 8px;
    text-align: center;
}