@import url(navmobile.css);
 /* width > 820 */
/* Configurações basicas */

:root{
    --cor0: #525872ce;
    --cor1: #bfc0c0;
    --cor2: #777996;
    --cor3: #157A6E;

    --cor1teste: #040F0E;
    --cor2teste: #1D3331;
    --cor3teste: #345C58;
    --cor4teste: #195C55;
    --cor5teste: #2EA99D;



    --fonte-padrao: Arial, helvetica, sans-serif;
    --fonte-destaque: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: var(--fonte-padrao);
    font-weight: normal;
}

body {
    height: 1000px;
    padding-top: 12vh;
}

h1.titulo {
    text-align: center;
    font-size: 2.3vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline;
    height: 6vh;
    width: 100%;
    position: fixed;
    top: 0;
    /* background-color: var(--cor1); */
    background-color: var(--cor2teste);
}

h1.nome{
    text-align: center;
    font-size: 2vw;
    text-transform: uppercase;
    letter-spacing: 4px;
}

/* Menu */

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: var(--fonte-destaque);
    height: 6vh;
    position: fixed;
    top: 6vh;
    left: 0;
    width: 100%;
    background-color: var(--cor2teste);
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.287);
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
}

/* Barra de navegação Fixa */

.principal {
    padding: 0 30px;
}

.FixoNoTopo{
    position: fixed;
    top: 0;
    width: 100%;
}

.FixoNoTopo + .principal {
    padding-top: 60px;
}

/* Links de navegação */

a{
    margin: 1vh;
    margin-top: 1vh;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

a:hover{ 
    color: white;
    opacity: 0.7;
}

/* Conteúdo */

main{
    height: 100%;
    background-color: var(--cor5teste);
}

#conteiner{
    margin: 0px;
    padding: 0px;
    position: relative;
}

/* foto */

.fundoFoto {
    position: absolute;
    top: 50px;
    left: 7vw;
    width: 36vw;
    height: 36vw;
    background-color: var(--cor2);
    border-radius: 0 0 6px 6px;
    box-shadow: 2px 1px 7px rgba(0, 0, 0, 0.404);
    display: inline-block;
}

.foto {
    position: absolute;
    margin: 1.3vw;
    width: 33vw;
    height: 33vw;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
}

.minhaFoto {
    position: absolute;
    background-position: center center;
    width: 33vw;
    height: 33vw;
    border-radius: 50%;
}

/* Conteúdo */

.sobre{
    position: absolute;
    top: 90px;
    left: 45vw;
    right: 50px;
    min-width: 30vw;
    min-height: 255px;
    background-color: var(--cor1);
    border-radius: 6px;
    box-shadow: 2px 1px 7px rgba(0, 0, 0, 0.404);
    display: inline-block;
}

.cursos{
    background-color: blue;
}

.quemsou {
    padding: 10px;
}

p {
    text-indent: 15px;
    text-align: justify;
    color: black;
    font-weight: 600;
    font-family: var(--fonte-padrao);
}


/* Rodapé */

footer{
    display: block;
    background-color: var(--cor2);
    padding: 8px;
    margin: auto;
    
}

.footer{
    text-align: center;
}